.container {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    margin-right: 10rem;
    margin-left: 10rem;
    gap: 1.5rem;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: aliceblue;
    text-align: center;
}

.container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 49%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    pointer-events: none;
    border-radius: 1rem;
}

.container > * {
    position: relative;
    z-index: 1;
}

.container input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: transparent;
    border: solid 2px aliceblue;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
    color: aliceblue;
    font-size: 1.0rem;
    width: 17rem;
}

.videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.buttonRegister {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    border: solid 2px aliceblue;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem 0.25rem 0.7rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: aliceblue;
}

.buttonRegister:hover {
    background-color: aliceblue;
    color: black;
    transition: 0.3s ease-in-out;
}

.inputStyle {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.errors {
    color: red;
    font-size: 1.1rem;
    
}

.inputContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}